@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-image: url(img/fundoo.jpg);
    background-repeat: no-repeat;    
    background-position: top;
    background-size: cover;
} 
.conteiner{
    display: flex;
    justify-content: space-around;
    background-color: black; 
}
.logo{
    width: 100px;
    height: 50px;
    margin: 10px;

}
ul{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
li{
   color: white;
    margin: 20px;
    cursor: pointer;
}
li:hover{
    border-bottom: 1px solid white;
}

.adega{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem 1rem ;
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    cursor: pointer;

}
.value{
    display: flex;
        gap: 10px;
             margin-bottom: 20px;
                align-items: center;
}
.onsale{
    font-weight: 400;
        font-size: 30px;
          font-family: "Libre Bodoni", serif;
             line-height: 10px;
}
.original-value{
    font-size: 13px;
    line-height: 20px;
    color: red;
    text-decoration: line-through;
}

.whisky{
    width: 239px;
        height: 105;
             margin: 20px;
    
}
h4{
    text-align: center;
    margin-bottom: 10px;
    font-family: "Libre Bodoni", serif;
}
.perdi{
    background-color: rgb(197, 183, 183);
    font-family: "Open Sans", sans-serif;
    border: none;
    cursor: pointer;
    margin: 26px;
    width: 190px;
    height: 40px;
    border-radius: 20px;
}

.perdi:hover{
    background-color: rgb(92, 184, 92);
    color: rgb(0, 77, 162);
}

/* loja */

.lo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nossal .loja{
    width: 400px;
    height: 280px;
    margin: 20px;
}
.sobre > h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 45px;
    color: white;
}
.sobre > p{
    color: white;
    text-align: center;
    width: 400px;
    font: 500;
}

.variedade {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.bebidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1rem 1rem;
    width: 240px;
    margin: 10px;
}
h3{
  text-align: center;
  font-family: "Libre Bodoni", serif;
}
.onsale1{
    font-weight: 500;
        font-size: 20px;
          font-family: "Libre Bodoni", serif;
             line-height: 10px;
             
}
.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.infosist{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem 1rem;
    cursor: pointer;
    width: 300px;
    margin: 20px;
    padding: 20px;
}

.infosist > h3{
    text-align: center;
    margin: 5px;
}
.infosist > P{
    text-align: center;
    margin: 5px;
}