@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

.ico {
  width: 60px;
  margin-right: 10px;
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  img {
    max-width: 100%;
  }
}

@media only print {
  p {
    orphans: 3;
    widows: 3;
  }
}

@media only print {
  .hljs {
    border-left: 15px solid #000000;
    display: block;
    overflow-x: auto;
    padding: 0.8em;
    background: #ffffff !important;
  }
}

.hljs {
  border-left: 15px solid #d0d0d0;
  display: block;
  overflow-x: auto;
  padding: 0.8em;
  background: #ffffff !important;
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  img {
    max-width: 100%;
  }
}

.p1 {
  color: #333;
}

