.texto-banner-wrap h1 {
  font-family: 'Open Sans';
  font-size: 4rem;
  line-height: 70px;
  color: #fff !important;
  margin-bottom: 0;
  font-weight: 500;
  border-radius: 8px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .texto-banner-wrap h1 {
    background-color: rgba(2,242,130,0) !important;
    font-family: 'Open Sans';
    font-size: 3rem;
    line-height: 59px;
    color: #fff !important;
    margin-bottom: 0;
    font-weight: 500;
    border-radius: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .texto-banner-wrap h1 {
    background-color: rgba(2,242,130,0) !important;
    font-family: 'Open Sans';
    font-size: 3rem;
    line-height: 59px;
    color: #fff !important;
    margin-bottom: 0;
    font-weight: 500;
    border-radius: 10px;
  }
}

@media (max-width: 575.98px) {
  .texto-banner-wrap h1 {
    background-color: rgba(2,242,130,0) !important;
    font-family: 'Open Sans';
    font-size: 2rem;
    line-height: 59px;
    color: #fff !important;
    margin-bottom: 0;
    font-weight: 500;
    border-radius: 10px;
  }
}

.box-banner {
  background-image: url("../../assets/img/capa151.jpg");
  background-color: #1c2734;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 575.98px) {
  .box-banner {
    background-image: url("../../assets/img/fundo.jpg") !important;
    background-color: #1c2734;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .box-banner {
    background-image: url("../../assets/img/fundo.jpg") !important;
    background-color: #1c2734;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .box-banner {
    background-image: url("../../assets/img/fundo.jpg") !important;
    background-color: #1c2734;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
}

.bkg {
  background-image: linear-gradient(180deg, #001743 0%, #254460 65%, #016d9c 90%, #268fa0 ), linear-gradient(180deg, #fff, #fff);
  color: #ffffff;
}

@media only print {
  .bkg {
    background-image: linear-gradient(180deg, #001743 0%, #254460 65%, #016d9c 90%, #268fa0 ), linear-gradient(180deg, #fff, #fff);
    color: #000 !important;
  }
}

a {
  color: #af60ff;
  text-decoration: none;
  background-color: transparent;
  white-space: normal !important;
}

a:hover {
  color: rgba(35,154,133,0.75);
  text-decoration: none;
}

.color1 {
  padding-left: 40px;
  color: #af60ff;
}

.bk1 {
  background-color: #50acbb;
}

@media only print {
  .bk1 {
    background-color: #fff !important;
  }
}

.happy-container {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #50acbb;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  position: relative;
}

@media only print {
  .text-light {
    color: #000 !important;
  }
}

@media only print {
  .text-white-50 {
    color: #000 !important;
  }
}

